<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Человек</title>
</head>
<body>

<p th:text="${person.getName() + ' ,' + person.getBirthYear()}">Value</p>

<div th:if="${not books.isEmpty()}">
  <p>Книги: </p>
  <div th:each="book :${books}">
    <p th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYear()}" >book</p>
  </div>
</div>
<div th:unless="${not books.isEmpty()}">
  <p>Человек пока не взял ни одной книги</p>
</div>

<hr/>
<br/>
<a th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}">Edit</a>


<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">

  <input type = "submit" value="Delete" />

</form>
</body>
</html>